@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a{
  text-decoration: none;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

/* HEADER */
header {
  height: 80px;
  width: 100vw;
  padding: 0 30px;
  background-color: #fffbfb;
  position: fixed;
  z-index: 100;
  box-shadow: 1px 1px 15px rgba(161, 182, 253, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 27px;
  font-weight: 600;
  color: #aa7d64;
}

.menu {
  cursor: pointer;
}

.logosec {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logosec {
  gap: 30px;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.profile-name {
  font-weight: 500;
}

.profile-photo {
  height: 40px;
  width: 40px;
  background-color: #626262;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.profile-img {
  height: 42px;
}

/* CONTAINER */
.main-container {
  display: flex;
  width: 100vw;
  position: relative;
  top: 70px;
  z-index: 1;
}

.main {
  height: calc(100vh - 70px);
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 40px 30px 30px 0;
}

.main::-webkit-scrollbar {
  width: 5px;
}

.main-title {
  color: #aa7d64;
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem 3rem;
  margin-top: -1.3rem !important;
  margin-bottom: 1rem;
}

/* SIDEBAR */
.nav {
  min-height: 92vh;
  width: 251px;
  background-color: #e1c4a1;
  position: absolute;
  top: 0px;
  left: 00;
  box-shadow: 1px 1px 10px rgba(198, 189, 248, 0.825);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding: 30px 0 20px 10px;
}
.navcontainer {
  height: calc(100vh - 70px);
  width: 250px;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 0.5s ease-in-out;
}
.navcontainer::-webkit-scrollbar {
  display: none;
}
.navclose {
  width: 65px;
}
.nav-option {
  width: 250px;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 30px 0 20px;
  color: white;
  gap: 22px;
  transition: all 0.1s ease-in-out;
}
.nav-option:hover {
  border-left: 5px solid #aa7d64;
  background-color: white;
  color: #aa7d64;
  cursor: pointer;
}
.nav-option.option1 {
  border-left: 5px solid #aa7d64;
  background-color: white;
  color: #aa7d64;
  cursor: pointer;
}
.nav-img {
  height: 30px;
}

.nav-upper-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

h3{
  text-decoration: none !important;
}

/* CARD */
.box-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 260px;
  height: 300px !important;
  color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 30, 87, 0.1);
  border: 1px solid #e4caaa;
}
.card-header {
  background-color: #e4caaa;
  color: #aa7d64;
  font-weight: 500;
  font-size: 1.3rem;
  border-radius: 8px 8px 0 0;
  padding: 30px 0;
  text-align: center;
}
.card-content {
  color: black;
  font-size: 3.5rem;
  font-weight: 600;
  text-align: center !important;
}
.card-action {
  background-color: #e4caaa;
  color: #aa7d64;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 0 0 8px 8px;
  padding: 15px;
  text-align: start;
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
}
.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: #aa7d64;
  color: #333;
  padding: 10px;
  text-align: center;
  border-top: 2px solid #936d06;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}

/* Style for links in the footer */
.footer a {
  color: #333;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}